
@model LoginViewModel ;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login02.css">
    <link rel="shortcut icon" href="/img/sark.ico">
</head>

<body>


    <section>
        <div class="container-fluid">
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">

                        <form class="login100-form validate-form" method="post" asp-controller="AdminLogin" asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="new-add-parts">
                                <div class="logo-login">
                                    <img src="/img/logo2.png">
                                </div>
                                <div class="space-betwin-login">
                                    <span class="login100-form-title p-b-43 l-s-m-b">
                                        Sign In
                                    </span>
                                    <span class="welcome p-b-43 l-s-m-b">
                                        Welcome to SarkProjects.
                                    </span>
                                </div>
                                <div class="space-betwin-login">
                                    <div class="form-group" id="fname">
                                        <input type="text" asp-for="UserName" class="form-control custom-form" placeholder="abc@example.com">
                                        <span asp-validation-for="UserName" class="text-danger"></span><i class="fas fa-user user-icon"></i>
                                    </div>
                                    <div class="form-group" id="pwd">
                                        <input type="password" asp-for="Password" class="form-control custom-form" placeholder="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span><i class="fas fa-lock user-pwd"></i>
                                    </div>
                                    <div class="form-group email-group" id="email">
                                        <label class="label-text">Email</label>
                                        <input type="text" class="form-control custom-form" placeholder="Email ID" id="userName" required>
                                        <i class="fas fa-lock user-pwd"></i>
                                    </div>

                                    <div class="forgot-password ">
                                        <span class="login-content"><a href="javascript:void(0)" class="forgot">Forgot Password</a></span>
                                    </div>
                                </div>
                                <div class="container-login100-form-btn l-s-m-b">
                                    <button id="login-btn" type="submit" class="login-btn">Login</button>
                                    <button id="submit" class="login-btn" onclick="ForgotPasswordSend()">Submit</button>
                                    <div class="back-btn-login mt-3">
                                        <button id="back" class="back-bbttnn" type="submit"><i class="fas fa-arrow-circle-left"></i></button>
                                    </div>
                                </div>


                            </div>
                        </form>

                        <div class="login100-more" style="background-image: url('/img/login.jpg');"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="~/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#email").hide();
            $("#submit").hide();
            $("#back").hide();
            $(".forgot").click(function () {
                $("#fname").hide();
                $("#pwd").hide();
                $("#login-btn").hide();
                $("#email").show();
                $("#submit").show();
                $("#back").show();
            });
            $("#back").click(function () {
                $("#fname").show();
                $("#pwd").show();
                $("#login-btn").show();
                $("#email").hide();
                $("#submit").hide();
                $("#back").hide();
            });
        });
        function ForgotPasswordSend() {
            var email = $("#userName").val();
            alert(email);
            if (email == "") {
                alert("Please Enter Email");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/AdminLogin/ForgotPassword",
                data: { "id": email },
                success: function (response) { },
                error: function (error) { },
            });
        }
    </script>

</body>
</html>