@model SarkPayOuts.Models.DbModels.DashboardViewModel
@{
    ViewData["Title"] = "DashBoard";    
}
@section Styles{
    <link rel="stylesheet" href="/css/Dashboard.css">
}
<section class="dashboard my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-block mb-4 mt-5">
                    <h4 class="section-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a asp-action="MyBookings" asp-controller="AgentOperations">
                    <div class="dash-block">
                        <h5>New Bookings</h5>
                        <span class="dash-count">
                            @Model.NewBookings
                        </span>
                    </div>
                    </a>
            </div>
            <div class="col-md-4">
                <a asp-action="MyBookings" asp-controller="AgentOperations">
                    <div class="dash-block">
                        <h5>Total Bookings</h5>
                        <span class="dash-count">
                            @Model.TotalBookings
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-action="MyBookings" asp-controller="AgentOperations">
                    <div class="dash-block">
                        <h5>New Blocked</h5>
                        <span class="dash-count">
                            @Model.NewBlockedUnits
                        </span>
                    </div>
                    </a>
            </div>
            <div class="col-md-4">
                <a asp-action="MyBookings" asp-controller="AgentOperations">
                    <div class="dash-block mt-md-4 mt-4">
                        <h5>Total Blocked</h5>
                        <span class="dash-count">
                            @Model.TotalBlocked
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="/js/custom.js"></script>
}